<h2>Edit celebrity</h2>
<form action="/celebrities/{{id}}" method="POST">
  <label>Name: <input type="text" name="name" value="{{name}}"></label>
  <label>Occupation: <input type="text" name="occupation" value="{{occupation}}"></label>
  <label>Catch Phrase: <input type="text" name="catchPhrase" id="" value="{{catchPhrase}}"></label>
  <button type="submit">Save Celebrity</button>
</form>