<a href="/celebrities">Back to celebrities</a>
<form action="/celebrities/" method="POST">
  <label>Name: <input type="text" name="name" required placeholder="Celebrity's name"></label>
  <label>Occupation: <input type="text" required name="occupation" placeholder="Celebrity's job"></label>
  <label>Catch Phrase: <input type="text" required name="catchPhrase" id="" placeholder="Famous quote"></label>
  <button type="submit">Add Celebrity</button>
</form>