<a href="/movies">Back to movies</a>
<form action="/movies/" method="POST">
  <label>Title: <input type="text" name="title" required placeholder="Movie's title"></label>
  <label>Duration: <input type="number" name="duration" required placeholder="Movie's duration"></label>
  <label>Genre: <input type="text" required name="genre" placeholder="Movie's genre"></label>
  <label>Plot: <input type="text" required name="plot" id="" placeholder="Plot"></label>
  <button type="submit">Add Movie</button>
</form>